<%inherit file="../base.html" />
<%!
from django.shortcuts import reverse
from app.model.video import FromType
%>

<%def name="nav()">
% for video in videos:
% if video.from_to == FromType.custom.value:
内链视频
% else:
外链视频
% endif
% endfor
</%def>

<%def name="content()">
% for video in videos:
<div class="video-show">
    <a href="${reverse('client_video_sub', kwargs={'video_id': video.id})}">
        <div class="video-image" style="background-image: url(${video.image});background-size:cover;background-position: center"></div>
    </a>
    <p class="video-name">${video.name}</p>
</div>
% endfor
</%def>

<%def name="css()">
<link href="/static/client/css/public_video.css" rel="stylesheet">
</%def>


