<%inherit file="../base.html" />

<%def name="nav()">
个人中心
</%def>
<%def name="content()">
<% from django.shortcuts import reverse %>
% if user:
<div class="user-area">
    % if not user.avatar:
    <img class="image-view" src="http://qaj94mfzx.bkt.clouddn.com/花木兰.png"><br>
    % else:
    <img class="image-view" src="${user.avatar}"><br>
    % endif

    ${user.username}<br>

    <a class="a-style" href="${reverse('client_logout')}">登出</a><br>
    <a class="a-style" href="${reverse('client_logoff')}">注销</a>
    <input type="hidden" value="${user.id}" name="user_id">
    ${csrf_token}

</div>
<a class="change-info" href="${reverse('change_info', kwargs={'user_id':user.id})}">修改信息</a>
% else:
<div class="form">
    <input id="username" type="text" placeholder="用户名" />
    <input id="password" type="password" placeholder="密码" />
    <button id="login-submit" data-url="${reverse('client_auth')}">登录</button>
    <button id="regist-submit" data-url="${reverse('client_regist')}">注册</button>
    ${csrf_token}
</div>
% endif
</%def>


<%def name="js()">

<script src="/static/client/js/auth.js"></script>

</%def>

<%def name="css()">
<link href="/static/client/css/auth.css" rel="stylesheet" />
</%def>

